USE [master]
GO
/****** Objeto:  Database [Gerenciador_Estoque]    Data do Script: 16/09/2026 19:41:18 ******/
CREATE DATABASE [Gerenciador_Estoque]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gerenciador_Estoque', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Gerenciador_Estoque.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gerenciador_Estoque_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Gerenciador_Estoque_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gerenciador_Estoque].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gerenciador_Estoque]
GO
/****** Objeto:  Table [dbo].[Categoria]    Data do Script: 16/09/2026 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Categoria_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Fornecedor]    Data do Script: 16/09/2026 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[IdFornecedor] [int] IDENTITY(1,1) NOT NULL,
	[NomeFornecedor] [varchar](50) NOT NULL,
	[Documento] [varchar](14) NOT NULL,
	[Telefone] [varchar](11) NOT NULL,
	[Localidade] [varchar](50) NOT NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Movimentacao]    Data do Script: 16/09/2026 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimentacao](
	[IdMovimentacao] [int] IDENTITY(1,1) NOT NULL,
	[IdProduto] [int] NOT NULL,
	[QntdMovimentacao] [int] NOT NULL,
	[TipoMovimentacao] [varchar](7) NOT NULL,
	[DataMovimentacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimentacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Produto]    Data do Script: 16/09/2026 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[IdProduto] [int] IDENTITY(1,1) NOT NULL,
	[NomeProduto] [varchar](50) NOT NULL,
	[QuantidadeProduto] [int] NOT NULL,
	[Localizacao] [varchar](50) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdFornecedor] [int] NOT NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomeProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Fornecedor] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Movimentacao] ADD  CONSTRAINT [DF_Movimentacao_Data]  DEFAULT (getdate()) FOR [DataMovimentacao]
GO
ALTER TABLE [dbo].[Produto] ADD  CONSTRAINT [DF_Produto_QuantidadeProduto]  DEFAULT ((0)) FOR [QuantidadeProduto]
GO
ALTER TABLE [dbo].[Produto] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Movimentacao]  WITH CHECK ADD FOREIGN KEY([IdProduto])
REFERENCES [dbo].[Produto] ([IdProduto])
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD FOREIGN KEY([IdFornecedor])
REFERENCES [dbo].[Fornecedor] ([IdFornecedor])
GO
ALTER TABLE [dbo].[Movimentacao]  WITH CHECK ADD CHECK  (([QntdMovimentacao]>(0)))
GO
ALTER TABLE [dbo].[Movimentacao]  WITH CHECK ADD CHECK  (([TipoMovimentacao]='SAIDA' OR [TipoMovimentacao]='ENTRADA'))
GO
ALTER TABLE [dbo].[Produto]  WITH CHECK ADD CHECK  (([QuantidadeProduto]>=(0)))
GO
USE [master]
GO
